##################################################
# SkyFireEMU Auth Server configuration file      #
##################################################
[authserver]

###################################################################################################
# SECTION INDEX
#
#    EXAMPLE CONFIG
#    AUTH SERVER SETTINGS
#    AUTH SERVER LOGGING
#    MYSQL SETTINGS
#
###################################################################################################

###################################################################################################
# EXAMPLE CONFIG
#
#    Variable
#        Description: Brief description what the variable is doing.
#        Important:   Annotation for important things about this variable.
#        Example:     "Example, i.e. if the value is a string"
#        Default:     10 - (Enabled|Comment|Variable name in case of grouped config options)
#                     0  - (Disabled|Comment|Variable name in case of grouped config options)
#
# Note to developers:
# - Copy this example to keep the formatting.
# - Line breaks should be at column 100.
###################################################################################################

###################################################################################################
# AUTH SERVER SETTINGS
#
#    MaxPingTime
#        Description: Time (in minutes) between database pings.
#        Default:     30

MaxPingTime = 30

#
#    RealmServerPort
#        Description: TCP port to reach the auth server.
#        Default:     3724

RealmServerPort = 3724

#
#
#    BindIP
#        Description: Bind auth server to IP/hostname
#        Default:     "0.0.0.0" - (Bind to all IPs on the system)

BindIP = "0.0.0.0"

#
#    UseProcessors
#        Description: Processors mask for Windows based multi-processor systems.
#        Default:     0  - (Selected by OS)
#                     1+ - (Bit mask value of selected processors)

UseProcessors = 0

#
#    ProcessPriority
#        Description: Process priority setting for Windows based systems.
#        Default:     1 - (High)
#                     0 - (Normal)

ProcessPriority = 1

#
#    RealmsStateUpdateDelay
#        Description: Time (in seconds) between realm list updates.
#        Default:     20 - (Enabled)
#                     0  - (Disabled)

RealmsStateUpdateDelay = 20

#
#    WrongPass.MaxCount
#        Description: Number of login attemps with wrong password before the account or IP will be
#                     banned.
#        Default:     0  - (Disabled)
#                     1+ - (Enabled)

WrongPass.MaxCount = 0

#
#    WrongPass.BanTime
#        Description: Time (in seconds) for banning account or IP for invalid login attempts.
#        Default:     600 - (10 minutes)
#                     0   - (Permanent ban)

WrongPass.BanTime = 600

#
#    WrongPass.BanType
#        Description: Ban type for invalid login attempts.
#        Default:     0 - (Ban IP)
#                     1 - (Ban Account)

WrongPass.BanType = 0

#
###################################################################################################

###################################################################################################
# AUTH SERVER LOGGING
#
#    PidFile
#        Description: Auth server PID file.
#        Example:     "./authserver.pid"  - (Enabled)
#        Default:     ""                  - (Disabled)

PidFile = ""

#
#    Log.Directory
#        Description: Directory for all the logs.
#        Important:   Value needs to be quoted, as the string might contain space characters.
#        Default:     "" - (Log files will be stored in the current path)

Log.Directory = ""

#
#    Log.Console.Level
#        Description: Log level for console messages (from all the logs which write to console).
#        Default:     0 - (Minimum)
#                     1 - (Warning)
#                     2 - (Info)
#                     3 - (Full)

Log.Console.Level = 0

#
#    Log.Console.Colors
#        Description: Colors for log messages (Format: "minimum warning info full").
#        Colors:      0  - Black
#                     1  - Red
#                     2  - Green
#                     3  - Brown
#                     4  - Blue
#                     5  - Magenta
#                     6  - Cyan
#                     7  - Grey
#                     8  - Yellow
#                     9  - Light red
#                     10 - Light green
#                     11 - Light blue
#                     12 - Light magenta
#                     13 - Light cyan
#                     14 - White
#        Default:     ""          - (Disabled)
#                     "13 8 10 5" - (Enabled)

Log.Console.Colors = ""

#
#    Log.DB.Enable
#        Description: Write log messages to database (LogDatabaseInfo).
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

Log.DB.Enable = 0

#
#    Log.DB.Level
#        Description: Log level of databases logging.
#        Default:     0 - (Minimum)
#                     1 - (Warning)
#                     2 - (Info)
#                     3 - (Full)

Log.DB.Level = 0

#
#    Log.<name>.Enabled
#        Description: Enable given log.
#        Default:     1 - (Enabled)
#                     0 - (Disabled)
#
#    Log.<name>.Level
#        Description: Level of logging for this log file.
#        Default:     1 - (Warning)
#                     0 - (Minimum)
#                     2 - (Info)
#                     3 - (Full)
#
#    Log.<name>.File
#        Description: Path to log file.
#        Example:     "Server.log" - (Enabled)
#        Default:     ""           - (Disabled)
#        Time format specifiers can be used in order to customize file name using current time, e.g.
#        "Char_%Y-%m-%d.log"
#        If you use SplitDate setting you should provide time format specifiers, otherwise you may
#        get unexpected behaviour.
#        Available format specifiers (also see C strftime function):
#            %a    Abbreviated weekday name             Thu
#            %A    Full weekday name                    Thursday
#            %b    Abbreviated month name               Aug
#            %B    Full month name                      August
#            %c    Date and time representation         Thu Aug 23 14:55:02 2001
#            %d    Day of the month (01-31)             23
#            %H    Hour in 24h format (00-23)           14
#            %I    Hour in 12h format (01-12)           02
#            %j    Day of the year (001-366)            235
#            %m    Month as a decimal number (01-12)    08
#            %M    Minute (00-59)                       55
#            %p    AM or PM designation                 PM
#            %S    Second (00-61)                       02
#            %U    Week number with the first Sunday
#                  as the first day of week one (00-53) 33
#            %w    Weekday as a decimal number with
#                  Sunday as 0 (0-6)                    4
#            %W    Week number with the first Monday
#                  as the first day of week one (00-53) 34
#            %x    Date representation                  08/23/01
#            %X    Time representation                  14:55:02
#            %y    Year, last two digits (00-99)        01
#            %Y    Year                                 2001
#            %Z    Timezone name or abbreviation        CDT
#            %%    A % sign                             %
#
#    Log.<name>.TimestampFmt
#        Description: Format string for timestamp. Uses the same format specifier as in
#                     Log.<name>.File (also see C strftime function).
#        Default:     "%Y-%m-%d %H:%M:%S"
#
#    Log.<name>.SplitDate
#        Description: Specifies whether new log file should be created at midnight. Correct
#                     Log.<name>.File should be given for this option to work correctly.
#        Default:     1 - (Enabled)
#                     0 - (Disabled)
#
#    Log.<name>.Append
#        Description: Specifies whether new log file should be created on every server start or
#                     messages should be appended to existing log with the same name.
#        Default:     1 - (Append)
#                     0 - (Create new file, i.e. overwrite existing)
#
#    Log.<name>.Console
#        Description: Specifies whether messages should be written to server console.
#        Default:     0 - (Do not write)
#                     1 - (Write)
#
#    Log.<name>.DB
#        Description: Specifies whether messages should be written to database. Log name and
#                     log level of the messages are saved with message.
#        Default:     0 - (Do not write to DB)
#                     1 - (Write to DB)
#
#    Log.<name>.FlushBytes
#        Description: Defines number of bytes after which buffers should be flushed to disk.
#        Default:     0 - (Flush after every message)
#                    -1 - (Flush manually)
#                  1024 - (Flush every kilobyte)

#    Server log
#    Description: Main auth server log.

Log.Server.Enabled = 1
Log.Server.File = Auth.log
Log.Server.TimestampFmt = "%Y-%m-%d %H:%M:%S"
Log.Server.SplitDate = 0
Log.Server.Append = 0
Log.Server.Console = 1
Log.Server.DB = 0
Log.Server.FlushBytes = 4096

#
#    Log.Debug.Mask
#        Description: Bitmask that determines which debug log output (level 3)
#                     will be logged.
#
#        Possible flags:
#                  64 - Anything related to network input/output,
#                        such as packet handlers and netcode logs
#
#                       Simply add the values together to create a bitmask.
#                       For more info see enum DebugLogFilters in Log.h
#
#             Default: 0 (nothing)

Log.Debug.Mask = 64

#
#    SqlDriver log
#    Description: Used to log operations and queries performed via SQL database driver.

Log.SqlDriver.Enabled = 1
Log.SqlDriver.File = SqlDriver.log
Log.SqlDriver.TimestampFmt = "%Y-%m-%d %H:%M:%S"
Log.SqlDriver.SplitDate = 0
Log.SqlDriver.Append = 1
Log.SqlDriver.Console = 1
Log.SqlDriver.DB = 0
Log.SqlDriver.FlushBytes = 0

#
###################################################################################################

###################################################################################################
# MYSQL SETTINGS
#
#    LoginDatabaseInfo
#        Description: Database connection settings for the realm server.
#        Example:     "hostname;port;username;password;database"
#                     ".;somenumber;username;password;database" - (Use named pipes on Windows
#                                                                 "enable-named-pipe" to [mysqld]
#                                                                 section my.ini)
#                     ".;/path/to/unix_socket;username;password;database" - (use Unix sockets on
#                                                                           Unix/Linux)
#        Default:     "127.0.0.1;3306;skyfire;skyfire;auth"

LoginDatabaseInfo = "127.0.0.1;3306;skyfire;skyfire;auth"

#
#    LoginDatabase.WorkerThreads
#        Description: The amount of worker threads spawned to handle asynchronous (delayed) MySQL
#                     statements. Each worker thread is mirrored with its own connection to the
#        Default:     1

LoginDatabase.WorkerThreads = 1

#
###################################################################################################
